<div class="card animated fadeIn">
    <img src="{{heroe.img}}" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body text-center">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.casa}}</p>
        <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
        <!-- la opcion mediante routerLink seria
        <a [routerLink]="['/heroe',x]" class="btn btn-outline-primary">Information</a>
        pero con boton seria-->
        <button (click)="verHeroe(x)" type="button" name="info" class="btn btn-dark">Information</button>

    </div>
</div>
